<div class="modal hide fade" id="addIngredient"> 
  <div class="modal-header"> 
    <a href="#" class="close">&times;</a> 
    <h3 id="step_header">how much?</h3> <div id="ingredient_name"></div>
  </div> 
  <div class="modal-body"> 
    <%= image_tag 'placeholder.png', :id => "selectedImage", :class => "ingredient", :title => "placeholder" %>
    <%= f.text_field :amount, :class => "mini" %>
    <%= f.select :amount_unit, options_for_select(['','c.','tsp.','tbl.','oz.']) %>
  </div> 
  <div class="modal-footer"> 
    <a href="#" class="btn primary" id="submitIngredient">ok</a>
    <a href="#" class="btn secondary" id="nevermind" >nevermind</a> 
    <input type="submit" class="hidden">
  </div> 
</div> 