<h3>recipes</h3>


<script>
	$('input[type="image"].ingredient').qtip({
		position: {
	      my: 'top left', 
	      at: 'bottom middle'
	   },
	   style: { 
	      tip: true,
	      classes: 'ui-tooltip-dark ui-tooltip-rounded'
	   }
	});
</script>