<h1>
<% unless recipe.image_url(:preview).nil? %>
	<%= image_tag recipe.image_url(:preview), :class => "push_up", :size => "150x150" %>
<% else %>
	<%= image_tag 'recipe_placeholder.png', :class => "push_up", :size => "150x150" %>
<% end %>
<%= @recipe.name %>
</h1>
<hr />
<div class="span12 columns">
	<h3 id="step_header">steps</h3>
		<%= render @recipe.steps.ordered %>
</div>
