<h1 style="background: url(<%= recipe.image_url(:preview) %>) no-repeat left center; display:inline;">
		<%= @recipe.name %>
</h1>
<hr />
<div class="span12 columns">
	<h3 id="step_header">steps</h3>
		<%= render @recipe.steps.ordered %>
</div>
