<table class="recipe_header">
	<tr>
		<td id="recipe_image">
			<%= recipe_image_or_placeholder recipe %>
		</td>
		<td id="recipe_name">
			<h1><%= @recipe.name %></h1>
		</td>
	</tr>
</table>
<hr />
<div class="span12 columns">
	<h3 id="step_header">steps</h3>
		<%= render @recipe.steps.ordered %>
</div>
