<div class="modal hide fade" id="ingredient_toolbox">
	<div class="modal-header"> 
    <a href="#" class="close">&times;</a>
    <div style="display:inline">
	    <span>search&nbsp;</span>
	    <input type="text" id="ingredient_search" class="span8"/>
    </div>
  </div> 
  <div class="modal-body"> 
	<div id="search_results">
		<% Ingredient.search(params[:ingredient_search]).each do |i| %>
			<%= image_submit_tag i.image, :value => "#{i.name}", :title => "#{i.name}", :class => "ingredient", :id => i.id, :method => 'get' %>
		<% end %>
	</div>
	</div>
	<div class="modal-footer">

	</div>
</div>

<script>
$("#ingredient_search").keyup(function() {
	  $.ajax({
				    type: 'post', 
				    data: 'search=' + $('#ingredient_search').val(), 
				    dataType: 'script', 
				    complete: function(request){
				        
				    },
				    url: '/ingredients/search'});
});
</script>