<div class="container">
<h3>public recipes</h3>
<hr />

<div id="search_box">
  <input type="text" id="recipe_search" placeholder="what are you looking for..." />
</div>

<div class="categories">
	<%= link_to 'all', '#', :class => 'label all' %>
	<% RECIPE_CATEGORIES.each do |category| %>
		<span class="label <%= category.gsub(' ', '') %>"><%= link_to category, :controller => "recipes", :action => "index", :c => category %></span>
	<% end %>
</div>

<div id="allrecipes">
<%= render :partial => 'shared/recipes_list', :locals => {:recipes => @recipes, :selected_category => ''} %>
</div>
</div>

<script>
		$("#recipe_search").keyup(function() {
		  $.ajax({
					    type: 'post', 
					    data: 'search=' + $('#recipe_search').val() + '&c=' + $('#selected_category').val(), 
					    dataType: 'script', 
					    complete: function(request){ },
					    url: '/recipes/search'});
			});
		$("a.label").click(function() {
			$.ajax({
					    type: 'post', 
					    data: 'search=' + $('#recipe_search').val() + '&c=' + $(this).text(), 
					    dataType: 'script', 
					    complete: function(request){ },
					    url: '/recipes/search'});
		});
		
</script>