<% if current_user && current_user.id == @recipe.user_id %>
	<div id="editbar" class="topbar" >
	    <div class="container"> 
			<ul class="nav secondary-nav">
				<li><%= link_to "( edit )", edit_recipe_path(@recipe) %></li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>
<% end %>

<div class="container edit">
<div class="container-fluid">
	<div class="sidebar" id="sidebar">
		<div id="sidebar-wrapper">
			<%= render :partial => 'ingredientList' %>
		</div>
	</div>
	<div class="content">
		<div class="row">
			<%= render @recipe %>
		</div>
	</div>
</div>
</div>

<script type="text/javascript">
	var Scroller = new MYAPP.FixedInfoScroller({
		wrapper						: '#sidebar-wrapper',
		fixedElement			: '#ingredient_list',
		relativeToElement	: '#sidebar'
	});
</script>