<div class="modal hide fade" id="newRecipe" > 
  <%= form_for Recipe.new do |f| %>
    <div class="modal-header"> 
      <a href="#" class="close">&times;</a> 
      <h3 id="step_header">new recipe</h3>
    </div> 

    <div class="modal-body"> 
      <%= f.label :name, "name" %>&nbsp;&nbsp;
      <%= f.text_field :name, :class => "xlarge" %>
    </div>
    <div class="modal-footer"> 
      <%= f.submit "create", :class => "btn primary", :id => "submitRecipe" %>
      <a href="#" class="btn secondary" id="nevermind2" >nevermind</a> 
    </div> 
  <% end %>
</div> 
