<div class="rem_association">
	<%= link_to (image_tag 'redx.png'), recipe_step_association_path(@recipe, step, association), :confirm => "Are you sure?", :method => :delete, :remote => true  %>
</div>
