<%= will_paginate @recipes %>

<ul style="display:inline">
<% @recipes.each do |recipe| %>
	<li>
			<% unless recipe.image_url(:preview).nil? %>
				<%= image_tag recipe.image_url(:preview), :class => "captify", :title => recipe.name %>
			<% else %>
				<%= image_tag 'recipe_placeholder.png', :class => "captify", :title => recipe.name %>
			<% end %>
	</li>
<% end %>
</ul>