<%= will_paginate @recipes %>

<div>
<% @recipes.each do |recipe| %>

			<% unless recipe.image_url(:preview).nil? %>
				<%= link_to (image_tag recipe.image_url(:preview), :class => "captify", :title => recipe.name), recipe %>
			<% else %>
				<%= link_to (image_tag 'recipe_placeholder.png', :class => "captify", :title => recipe.name), recipe %>
			<% end %>

<% end %>
</div>