<span class="ingredient_image">
	<%= image_tag association.ingredient.image, :title => association.ingredient.name, :class => "ingredient handle", :size => "40x40" %>
</span>
<span class="ingredient_amount">
	<%= association.amount %>
</span>
