.selected {
	//font-size: 17px;
	background-color: #0000FF;
}

.categories {
	margin-top: 2px;
	width: 100%;
	text-align: center;
	vertical-algin: text-top;
}

.label {
	a, a:hover {
		color: white;
	}
}

a.label, a.label:hover {
	color: white;
}

.all {
	background-color: #62cffc;
}
.Uncategorized {
	background-color: #62cffc;
}
.Appetizers {
	background-color: #62cffc;
}
.Breads {
	background-color: #62cffc;
}
.Desserts {
	background-color: #62cffc;
}
.Drinks {
	background-color: #62cffc;
}
.MainDishes {
	background-color: #62cffc;
}
.Salads {
	background-color: #62cffc;
}
.SideDishes {
	background-color: #62cffc;
}
.Snacks {
	background-color: #62cffc;
}
.Soups {
	background-color: #62cffc;
}