.selected {
	font-size: 18px;
	vertical-algin: text-top;
}

.categories {
	width: 100%;
	text-align: center;
}

.label {
	a, a:hover {
		color: white;
	}
}

.all {
	background-color: #B4D1B6;
}
.Uncategorized {
	background-color: grey;
}
.Appetizers {
	background-color: #FF4848;
}
.Breads {
	background-color: #E469FE;
}
.Desserts {
	background-color: #9669FE;
}
.Drinks {
	background-color: #800080;
}
.MainDishes {
	background-color: #3923D6;
}
.Salads {
	background-color: #23819C;
}
.SideDishes {
	background-color: #62A9FF;
}
.Snacks {
	background-color: #01F33E;
}
.Soups {
	background-color: #06DCFB;
}