.categories {
	width: 100%;
	text-align: center
}

.Uncategorized {
	background-color: grey;
	a, a:hover {
		color: white;
	}
}
.Appetizers {
	background-color: #FF4848;
	a, a:hover {
		color: white;
	}
}
.Breads {
	background-color: #E469FE;
	a, a:hover {
		color: white;
	}
}
.Desserts {
	background-color: #9669FE;
	a, a:hover {
		color: white;
	}
}
.Drinks {
	background-color: #800080;
	a, a:hover {
		color: white;
	}
}
.MainDishes {
	background-color: #3923D6;
	a, a:hover {
		color: white;
	}
}
.Salads {
	background-color: #23819C;
	a, a:hover {
		color: white;
	}
}
.SideDishes {
	background-color: #62A9FF;
	a, a:hover {
		color: white;
	}
}
.Snacks {
	background-color: #01F33E;
	a, a:hover {
		color: white;
	}
}
.Soups {
	background-color: #06DCFB;
	a, a:hover {
		color: white;
	}
}