.header_pic {
  float: left;
  padding: 0px;
  padding-right: 5px;
  margin-top: -5px;
}

.float_left {
  float: left;
}



/* caption styling */

.caption {
	color: #ffffff;

	padding: 0.6em;
	font-weight: bold;
	font-size: 11px;
	font-family: arial;
	display: none;
	cursor: default;

	/* background / transparency */
	background: #000000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
}

.caption a {
	border: 0 none;
	text-decoration: none;
	background: #000000;
	padding: 0.3em;
}

.caption a:hover {
	background: #202020;
}

.caption-wrapper {
	float: left;
}

br.c { clear: both; }