a:hover {
	text-decoration: none;
}

.header_pic {
  float: left;
  padding: 0px;
  padding-right: 5px;
  margin-top: -5px;
}

.float_left {
  float: left;
}

.label {
	font-family: Arial;	
}

/* caption styling */

.caption-top, .caption-bottom {
	color: #ffffff;	
	padding: 1.2em;	
	padding-left: 0.2em;
	font-size: 16px;
	font-family: Arial;
	background: #000;
	text-shadow: 1px 1px 0 #202020;
}
.caption-top {
}
.caption-bottom {
}
.caption a, .caption a {
	border: 0 none;
	background: #000000;
	padding: 0.3em;
}
.caption a:hover, .caption a:hover {
	background: #202020;
}
.caption-wrapper {
	float: left;
}
br.c { clear: both; }


.images img {
	margin-bottom: 20px;
	margin-right: 20px;
}
.images img.margin {
	margin-right: 20px; 
}
.images {
	margin-bottom:-15px;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 25px;
}

.images .label {
	position: absolute;
	top: 5px;
	right: 25px;
}

.images .image_box {
	position: relative;
	float: left;
}


/* fade out inactive slides */

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.step:not(.active) {
    opacity: 0.3;
}

.slide {
    display: block;

    width: 500px;
    height: 350px;

    padding: 40px 60px;

    border-radius: 10px;

    background-color: white;

    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-size: 30px;
    line-height: 36px;

    letter-spacing: -1px;

    hr {
    	margin-top: -20px;
    	width: 340px;
    }

    h1 {
    	margin-left: -30px;
    }
}


/* reset ingredient amount for slide */

.ingredient_amount {
    font-size: 10px;
    line-height: 14px;

    letter-spacing: 0;

    color: black;
    display: block;
    text-align: center;
    margin-top: -8px;
    white-space: nowrap;
}